.menu {
    display: flex;
    flex-direction: column;
}

.container {

    display: flex;

    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 500px;
}



div > img {
    width: 80px;
}



.lasagana-img {
    width: 350px;
}